<header>
  <h1>Memory Game</h1>
  <ul>
    <li>Score: <span> {{ score }}</span></li>
    <li>Steps: <span> {{ steps }}</span></li>
    <li>Timer: <span> {{ timer }}</span></li>
  </ul>
</header>


<ul class="board" *ngIf="gameStarted" [class.compare]="compare.length === 2">
  <li *ngFor="let card of cards;"
    [class.flip]="card.flip"
    [class.open]="card.open"
    (click)="checkCard(card)">
    <img [src]="card.image" [alt]="card.answer" [title]="card.answer">
  </li>
</ul>

<div *ngIf="!gameStarted">
  <div *ngIf="score">
      Your score is {{ score }}
  </div>
  <button (click)="startGame()">Start Game</button>
</div>

