*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #ff9090;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px;
}
